/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

/*
    The tab bar
*/

.jfx-tab-pane .headers-region {
     -fx-background-color: #1b75bc;
 }
 .jfx-tab-pane .tab-header-background {
     -fx-background-color: #1b75bc;
 }
 .jfx-tab-pane .tab-selected-line {
     -fx-stroke: #e1e3e8;
     -fx-stroke-width: 3pt;
 }




 /*

 .jfx-tab-pane .headers-region {
     -fx-background-color: #1b75bc;
 }
 .jfx-tab-pane .tab-header-background {
     -fx-background-color: #1b75bc;
 }
 .jfx-tab-pane .tab-selected-line {
     -fx-stroke: #75bc1b;
     -fx-stroke-width: 3pt;
 }

 */